<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>AgroReceta Puebla</title>
</head>
<body>
    <h1>AgroReceta 🌽</h1>
    <select id="cultivo">
        <option value="maiz">Maíz</option>
        <option value="cana">Caña de azúcar</option>
    </select>
    <input type="number" id="hectareas" placeholder="Hectáreas"/>
    <button id="btn">Generar receta</button>
    <div id="resultado"></div>
    <script src="/static/script.js"></script>
</body>
</html>
